.policy-summary_policy-summary__card__NMJ3W {
    aspect-ratio: 320/480;
    display: grid;
    transition: border-color var(--diamond-transition), box-shadow var(--diamond-transition)
}

.policy-summary_policy-summary__card__NMJ3W:hover {
    box-shadow: var(--diamond-shadow)
}

.policy-summary_policy-summary__content__0AvMB {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: var(--diamond-spacing)
}

@media (min-width: 768px) {
    .policy-summary_policy-summary__content__0AvMB {
        padding: var(--diamond-spacing-lg)
    }
}

.policy-summary_policy-summary__title__OhWiL {
    flex: 1 1 auto
}

.policy-summary_policy-summary__emoji__iQG4y {
    align-self: flex-end;
    transition: transform var(--diamond-transition)
}

.policy-summary_policy-summary__rSAij:hover .policy-summary_policy-summary__emoji__iQG4y {
    transform: scale(1.1)
}

.emoji_emoji__xX27z {
    --emoji-size: 6.5em
}

.emoji_emoji__img__N8HCn, .emoji_emoji__xX27z {
    height: var(--emoji-size);
    width: var(--emoji-size)
}

.emoji_emoji__img__N8HCn {
    display: block
}

.emoji_emoji--sm__A7riB {
    --emoji-size: 4.5em
}

.emoji_emoji--xs__6vtXW {
    --emoji-size: 3em
}

.emoji_emoji--inline__q_qAP {
    --emoji-size: 1.25em;
    height: 1.25em
}

.Overflow_overflow__X477h {
    --_overflow-width: none;
    margin-inline: calc(var(--diamond-spacing) * -1);
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-height: none
}

.Overflow_overflow__X477h::-webkit-scrollbar {
    display: none
}

.Overflow_overflow__content__TFgfv {
    min-width: var(--_overflow-width);
    overflow: hidden;
    padding-inline: var(--diamond-spacing)
}

.Overflow_overflow--small-mobile-on__bJ4_s {
    --_overflow-width: var(--overflow-width)
}

@media (min-width: 375px) {
    .Overflow_overflow--mobile-on__JHH0d {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--mobile-off__IdhaO {
        --_overflow-width: none
    }
}

@media (min-width: 480px) {
    .Overflow_overflow--large-mobile-on__edg68 {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--large-mobile-off__Ql4dB {
        --_overflow-width: none
    }
}

@media (min-width: 600px) {
    .Overflow_overflow--small-tablet-on__jYu4I {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--small-tablet-off__AULwN {
        --_overflow-width: none
    }
}

@media (min-width: 768px) {
    .Overflow_overflow--tablet-on__x3v__ {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--tablet-off__U8_ye {
        --_overflow-width: none
    }
}

@media (min-width: 1024px) {
    .Overflow_overflow--large-tablet-on__XcbMw {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--large-tablet-off__fRaQ5 {
        --_overflow-width: none
    }
}

@media (min-width: 1280px) {
    .Overflow_overflow--small-desktop-on__rpesW {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--small-desktop-off__ybUt1 {
        --_overflow-width: none
    }
}

@media (min-width: 1440px) {
    .Overflow_overflow--desktop-on__VYM01 {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--desktop-off__7PDpQ {
        --_overflow-width: none
    }
}

@media (min-width: 1920px) {
    .Overflow_overflow--large-desktop-on__2Av3M {
        --_overflow-width: var(--overflow-width)
    }

    .Overflow_overflow--large-desktop-off__Z67JK {
        --_overflow-width: none
    }
}

.Lead_lead__vyPYA {
    font-size: var(--diamond-font-size-xl);
    font-weight: var(--diamond-font-weight-light)
}

@media (min-width: 1024px) {
    .Lead_lead__vyPYA {
        font-size: var(--diamond-font-size-xxl)
    }
}

.CardCollapse_card-collapse__ESs27 {
    border: 1px solid var(--diamond-theme-border-color);
    border-radius: var(--diamond-radius);
    margin-bottom: var(--diamond-spacing);
    transition: border-color var(--diamond-transition)
}

@media (min-width: 768px) {
    .CardCollapse_card-collapse__ESs27 {
        margin-bottom: var(--diamond-spacing-lg)
    }
}

.CardCollapse_card-collapse__ESs27:has(.CardCollapse_card-collapse__btn__83oSU:hover) {
    border-color: var(--diamond-theme-border-color-hover)
}

.CardCollapse_card-collapse__ESs27:has([aria-expanded=true]) {
    box-shadow: var(--diamond-shadow)
}

.CardCollapse_card-collapse__btn__83oSU {
    align-items: center;
    background: var(--diamond-theme-background);
    border: transparent;
    border-radius: var(--diamond-radius);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: var(--diamond-spacing);
    text-align: left;
    transition: background var(--diamond-transition);
    width: 100%
}

@media (min-width: 768px) {
    .CardCollapse_card-collapse__btn__83oSU {
        padding: var(--diamond-spacing) var(--diamond-spacing-lg)
    }
}

.CardCollapse_card-collapse__btn__83oSU[aria-expanded=true] .CardCollapse_card-collapse__chevron__03yDe {
    transform: rotate(180deg)
}

.CardCollapse_card-collapse__title__SVQ35 {
    font-weight: var(--diamond-font-weight-body);
    margin: 0
}

@media (min-width: 768px) {
    .CardCollapse_card-collapse__title__SVQ35 {
        font-weight: var(--diamond-font-weight-bold)
    }
}

.CardCollapse_card-collapse__chevron__03yDe {
    font-size: var(--diamond-font-size-xl);
    transition: transform var(--diamond-transition)
}

.CardCollapse_card-collapse__collapse__7RK0F {
    padding: 0 var(--diamond-spacing) var(--diamond-spacing)
}

@media (min-width: 768px) {
    .CardCollapse_card-collapse__collapse__7RK0F {
        padding: 0 var(--diamond-spacing-lg) var(--diamond-spacing-lg)
    }
}

.Hero_hero__emoji__eO9pc {
    align-items: center;
    aspect-ratio: 184/240;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    width: 120px
}

@media (min-width: 768px) {
    .Hero_hero__emoji__eO9pc {
        font-size: 6rem;
        width: 184px
    }
}

.avatar_avatar__FcpIR {
    height: 3rem;
    min-width: 3rem;
    overflow: hidden;
    width: 3rem
}

.avatar_avatar--small__AA__q {
    height: 2rem;
    min-width: 2rem;
    width: 2rem
}

@media (min-width: 768px) {
    .avatar_avatar--large-desktop__i1WnC {
        height: 4rem;
        min-width: 4rem;
        width: 4rem
    }
}

.avatar_avatar--responsive__8uIUJ {
    height: auto;
    min-width: 0;
    width: 100%
}

.avatar_avatar--responsive__8uIUJ img {
    display: block;
    width: 100%
}

.avatar_avatar--radius__Fnkb8 {
    border-radius: .5em
}
